<header s-header class="header">
  <a href="#" header--item-right>How it works?</a>
</header>

<main>
  <h1>Subscribe Me</h1>
  <p>Every <span>month</span> you will receive <span>flowers</span></p>
  <p>The day before delivery you will receive a confirmation email</p>
  <p>
    By specifying the <span>address</span> and <span>time</span>, you confirm
    delivery
  </p>

  <p>Enjoy the flowers the next day</p>
</main>

<footer s-footer class="footer">
  <a href="#" footer--item-center>Get In</a>
</footer>

<router-outlet></router-outlet>
